PUBLIC_BUTTONDOWN_ENDPOINT=https://buttondown.com/api/emails/embed-subscribe/qsoforge
PUBLIC_CF_ANALYTICS_TOKEN=
PUBLIC_LS_DAMASCUS_CHECKOUT_URL=https://qsoforge.lemonsqueezy.com/buy/REPLACE_ME
PUBLIC_DAMASCUS_PRICE_USD=25
PUBLIC_RELEASES_MANIFEST_URL=https://releases.qsoforge.com/damascus/latest.json
